.header{

  padding: 20px 20px;

  &__navigation{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__list{
    display: flex;
    margin-bottom: 0;
    padding: 0;
  }

  &__list-item{
    cursor: pointer;

    &:not(:last-child){
      margin-right: 30px;
    }

  }

}

@media (max-width: 333px) {

  .header{

    &__list{
      flex-direction: column;
      align-items: center;
    }

    &__list-item{

      &:not(:last-child){
        margin-right: 0;
      }

    }

  }

}
