.film-card{

  padding: 5px 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 8px 6px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 3px 8px 6px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 3px 8px 6px rgba(34, 60, 80, 0.2);

  &__image{
    max-width: 200px;
  }

  &__img{
    height: 300px;
    object-fit: cover;
    object-position: center;
  }

  &__title{
    margin-top: 15px;
  }

  &__year{
    margin-top: 10px;
  }

}
