.book-modal{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;

  &__content{
    background-color: white;
    border-radius: 10px;
    padding: 10px 20px;
  }

  &__body{
    display: flex;
    margin-top: 20px;
  }

  &__image{
    width: 200px;
    margin-right: 20px;
  }

  &__img{
    width: 100%;
  }

  &__info{
    max-width: 350px;
  }

  &__status{
    display: block;
  }

  &__btn{
    padding: 5px 10px;
    background-color: #b72a2a;
    border-radius: 10px;
    margin-top: 15px;
  }

}

@media screen and (max-width: 632px) {
  .film-modal {

    &__body{
      flex-direction: column;
      align-items: center;
    }

    &__image{
      margin-right: 0;
    }

    &__info{
      margin-top: 10px;
    }

  }
}
