.book-card{

  height: 100%;
  padding: 5px 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 8px 6px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 3px 8px 6px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 3px 8px 6px rgba(34, 60, 80, 0.2);

  &__image{
    max-width: 220px;
    margin-bottom: 10px;
  }

  &__img{
    width: 100%;
  }

  &__status{
    margin-top: 10px;
  }

}
